body {
	padding: 0;
	margin: 0;
}

body header {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #ccc;
	box-shadow: 0px 10px 5px #888888;
}


body header img{
	position: relative;
	width: 250px;
	height: 100%;
}


body header table{
	background-color: #ccc;
	position: relative;
	left: 350px;
	top:-70px;
	height: 50%;
	width: 50%;
	border:0;

}

body header table th{
	position: relative;
	height: 40px;
	width: 33.3%;
	padding: 0px 0px;
	display: inline-block;
	font-size: 1.3em;
}


body header table th :hover{

	background-color: white;
	color: #33aaff;
	font-size: 1.1em;
	

}

body header table th a div:hover{
border:inset;
border-color: white;
border-radius: 15px;
}

body header table th a div{
	width: 97%;
	height: 50px;
	background-color: #ccc;
	color: #615E5E;

}

body header table th a div center{
	position: relative;
	top: 10px;

}

body header table th a{
	text-decoration: none;
}



#a19{
	position: relative;
	left: 76%;
	top: -150%;
	width: 320px;
	height: 90px;
	border-radius: 6px;
	color:#585369;
	//*background-color: #88888854;*/

}
#a19 ul{
	list-style: none;
	top: -155%;
	margin: 0 0;
}

#a19 li{
		margin-bottom:  4px;
}

#a19 ul input{
	border-radius: 8px;
	opacity: 0.5;
	height: 20px;
	width: 180px;
	margin-right:5px;
	border:inset;
	top: 0px;	
}

#a20 input{
position: relative; 
width: 160px;
height: 20px;
left: 41%;
top: -150%;
color: white;
background-color: #888888;
border-radius: 6px; 	
opacity: 0.9;
 }
 #a20 input:hover{
 	background-color:#57625ba8;
 	opacity: 1;
 }






#a10{
	position: relative;
	top:27px;
	width: 250px;
	height: 500px;
    box-shadow: 10px -10px 5px #888888;
	background-color: #ccc;
	border-top-right-radius: 10px;
	color: #615E5E;
	text-align: center;

}


#adep{
position: relative;
right: 20px;
font-size: 1.5em;
text-align: left;



}

	
	


#a27{
	position: absolute;
	top:20%; 
	right:  0px;
	width: 250px;
	height: 500px;
    box-shadow: -10px -10px 5px #888888;
	background-color: #ccc;
	border-top-left-radius: 10px;
	color: #615E5E;
	text-align: center;
}


#a8{
	position: absolute;
	top: 130px;
	left: 330px;
}


#p1{
font-family: arial black;
position: absolute;
top: 310px;
left: 350px;
font-size: 1.5em;
}

#a9{
	position: absolute;
	top: 420px;
	left: 25%;
}





.footer{
    position: absolute;
    height: 20px;
    bottom: 0px;
    width: 100%;
    background: #333;
	color: white;

	
}


#foot{position: relative;
	bottom: 16px;
}







#a16{
	background-color: #ccc;
	position: absolute;
	width: 340px;
	height: 50px;
	top: 530px;
	left: 510px;
	border-radius: 7px;
	border:solid;
	border-color: #888888;
	    box-shadow: 10px 10px 5px #888888;
	    color: black;


}


#contact{

background-color: #ccc;
	position: absolute;
	width: 440px;
	height: 250px;
	top: 345px;
	left: 470px;
	border-radius: 7px;
	border:solid;
	border-color: #888888;
	    box-shadow: 10px 10px 5px #888888;
	    color: black;
	    font-size: 1.3em;


}

#about{
background-color: #ccc;
	position: absolute;
	width: 740px;
	height: 250px;
	top: 345px;
	left: 310px;
	border-radius: 7px;
	border:solid;
	border-color: #888888;
	    box-shadow: 10px 10px 5px #888888;
	    color: black;
	    font-size: 1.3em;
	}

#a16:hover{
	background-color:white;
	font-size: 1.05em;
	color: #3388ff;
}