body{
padding: 0;
margin: 0;
height: 100%;
font-family: cursive;
}


#a1{
position: relative;
width: 1325px;
height: 115px;
background-color: #ccc;
box-shadow: 10px 10px 5px #888888;

}

#a3>img{
	position: absolute;
	left: 15px;
	top: 5px;
	width: 250px;
	height: 100px;

}
#a2{
	list-style: none;
	display: inline-block;
	left: 330px;
	top: 15px;
	position: absolute;
}
#a2 li{
	display: inline-block;
	padding: 12px 50.6px;
	margin: 10px;
	color: #111;
	text-decoration: none;
	font-size: 1.3em;
	background-color: white;
	opacity: 0.7;
	border-radius: 10px;
	border:solid #57625ba8 2px;
	


}


#a7{
	position: absolute;
	left: 800px;
	top: 45px;
	
}

#a2 li:hover{
    background-color: #57625ba8;
	color:white;
	border: solid white 2px;
	

}

#p1{
font-family: arial black;
position: relative;
top: -40px;
font-size: 1.5em;
}

#a8{
	position: relative;
	top: 12px;
}

#a9{
	position: relative;
	top: -30px;
	left: 25%;
}

#a10{
	position: absolute;
	float: right;
	top:150px; 
	right:20px;
	width: 250px;
	height: 900px;
    box-shadow: 10px 10px 5px #888888;
	background-color: #ccc;
	border-top-left-radius: 10px;
}

#a11{	
	position: absolute;
	top:150px; 
	left:20px;
	width: 250px;
	height: 900px;
    box-shadow: 10px 10px 5px #888888;
	background-color: #ccc;
	border-top-right-radius: 10px;
}

#footer{
    position: fixed;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background-color:#333;
	color: white;
	text-align: center;
	z-index: 1;
	opacity: 0.8;
	
}

#a12{
	list-style: none;
}

#a12 li{
	background-color: #fff;
	position: relative;
	top: 8px;
	right: 43px;
	margin: 18px;
	padding: 15px;
	width: 185px;
	border-radius: 8px;
	text-align: center;
	border:solid #57625ba8 4px;

}

#a12 li:hover{ 
background-color: #57625ba8;
color: white;
border:solid white 4px;
 }

#a13{
	list-style: none;
}

#a13 li{
	background-color: #fff;
	position: relative;
	top: 8px;
	right: 43px;	
	margin: 18px;
	padding: 15px;
	width: 185px;
	border-radius: 8px;
	text-align: center;
	border:solid #57625ba8 4px;

}

#a13 li:hover{ 
background-color: #57625ba8;
color: white;
border:solid 4px white;
 }

#a14{
	position: relative;
	background-color: #ccc;
	width: 350px;
	height: 70px;
	top: 80px;
	left: 490px;
	border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

#a15{
	background-color: #888888;
	position: relative;
	width: 304px;
	height: 45px;
	left: 5px;
	top: 38px;
	border-radius: 7px;
	border:solid;	
	border-color: white;
}

#a16{
	background-color: #888888;
	position: relative;
	width: 304px;
	height: 45px;
	left: 5px;
	top: 10px;
	border-radius: 7px;
	border:solid;
	border-color: white;
}

#a15 p a{
  text-decoration: none;
  color: white;
 
}
#a16 p a{
  text-decoration: none;
  color: white;
}

#a17 div p a{
	text-decoration: none;
	color: white;
}
#a15:hover{
	background-color: #3399ff;
	font-size: 1.05em;
}

#a16:hover{
	background-color:#3399ff;
	font-size: 1.05em;
}

#a17{
	background-color: white;
	position: absolute;
	width: 210px;
	height: 120px;
	left: 22px;
	top: 345px;
	border-radius: 8px;
}
#a17 div p{
	color: white;


}

#a17 div{
	position: absolute;
	background-color: #888888;
	left:12px;
	width: 185px;
	height: 45px;
	top: 50px;
	border:solid #888888;
	border-radius: 8px;
}

#a17 div:hover{
background-color:#3399ff;

}


#a19{
	position: absolute;
	right: 6px;
	top: 7px;
	width: 320px;
	height: 107px;
	border-radius: 6px;
	font-family: cursive;
	color:#585369;
	//*background-color: #88888854;*/

}
#a19 ul{
	list-style: none;
	float: left;
	top: 5px;
	margin: 0 0;
}

#a19 li{
		margin-bottom:  4px;
}

#a19 ul input{
	border-radius: 8px;
	opacity: 0.5;
	height: 25px;
	width: 180px;
	margin-right:5px;
	border:inset;
	top: 0px;	
}

#a20 input{
position: absolute; 
width: 160px;
right: 30px;
height: 25px;
top: 75px;
color: white;
background-color: #888888;
border: solid white 2px;
border-radius: 6px; 	
opacity: 0.9;
 }
 #a20 input:hover{
 	background-color:#57625ba8;
 	opacity: 1;
 }

#b1{
position: relative;
float: right;
padding: 0px 0px;
right: 4px;
top: 4px;
height: 47px;
width:400px;
}

#b1 p{
	position: relative;
	right: 50px;
	top: -14px;
	font-family: cursive;
	font-size: 18px;
	float: right;
	background-color: white;
	padding: 6px;
	opacity: 0.7;
	border-radius: 4px;
	border:solid #57625ba8 2px;


}

#b1 img{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 4px;
	top: 4px;
	margin: 1px;
}

#b1 img:hover{
	width: 42px;
	height: 42px;
	
  }

#b2{
	position: absolute;
	width: 700px;
	height: 900px;
	left: 295px;
	top: 0px;
	border: solid #57625ba8 2px;
	background-color: #88888824;
	

}

#b2 img{
	position: relative;
	height: 300px;
	width: 300px;
	top: 20px;
	left: -190px;
}

#b2 p{
	position: relative;
	width: 315px;
	right: -150px;
	top: -290px;
	font-size: 1.5em;
}

#b3{
	position: relative;
    top: -280px;
	width: 300px;
	height: 30px;
	background: #59624c59;
	border: solid 4px #57625ba8;
	border-radius: 10px;
	overflow: hidden;
	padding: 10px;
	color: black;
	font-size: 1.1em;
}


#b3:hover{ 
border: solid  4px white ;
background-color: #888;
color:white; 
 }

#b4{
	position: relative;
	top:  -270px;
	width: 300px;
	height: 30px;
	background: #59624c59;
	border: solid 4px #57625ba8;
	border-radius: 10px;
	overflow: hidden;
	padding: 10px;
	color: black;
	font-size: 1.1em;
}

#b4:hover{ 
border: solid 4px white ;
background-color: #888;
color:white; 
 }

#link{
	text-decoration-line: none;
	color: black;
}

#c1{

	position: relative;
	top: 20px;
	width: 680px;
	font-size: 1.2em;
}
 
#c1 button{
	height: 30px;
	width: 100px; 	
	border: 2px solid #888;
	border-radius: 4px;
}

#c2{
	width: 250px;
	height: 25px;
	margin: 12px 10px;
	border: 2px solid #888;
	border-radius: 4px;
}

#c3{
	height: 40px;
	width: 300px; 	
	border: 2px solid #888;
	border-radius: 4px;
	font-size: 25px;
} 

#c1 button:hover{
	background-color: lightblue; 
}

#c3:hover{
	background-color: lightblue; 
}

